{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<div class="page page--background">
    <header>
        {{> back-button}}
    </header>

    <form class="page__section">
        <h1 class="page__title">Реєстрація</h1>

        <div class="form">
                <div class="form__item">
                    {{> field action="signupForm.change" label="Ел. адреса" type="email" name="email" placeholder="Ваш e-mail"}}
                    <span name="email" class="form__error">Помилка</span>
                </div>
                <div class="form__item">
                    {{> field-password action="signupForm.change" label="Пароль" type="password" name="password" placeholder="Ваш пароль"}}
                    <span name="password" class="form__error">Помилка</span>
                </div>
                <div class="form__item">
                    {{> field-select action="signupForm.change" label="Роль" name="role" placeholder="Оберіть роль" list=data.role}}
                    <span name="role" class="form__error">Помилка</span>
                </div>
                <div class="form__item">
                    {{> field-check action="signupForm.change" label="Ви погоджуєтеся з правилами сервіса" name="isConfirm"}}
                    <span name="isConfirm" class="form__error">Помилка</span>
                </div>
            </div>
       
        <button onclick="signupForm.submit()" class="button" type="button">Зареєструватись</button>
        <span class="alert alert--error">Увага, помилка!</span>
    </form>
</div>

{{!
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}